<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>email ejs</title>
</head>
<body>
    <h1>Welcome!! <%= email %></h1>
    <p>정말로 반가워여</p>
</body>
</html>