<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>search-value ejs</title>
</head>
<body>
    <h1>Baam!! <%= search-value %></h1>
   
</body>
</html>